name: Helm PR

on:
  workflow_call:
    inputs:
      charts:
        required: true
        type: string
      charts_dir:
        required: false
        type: string
        default: "charts"
      helm_version:
        required: false
        type: string
        default: "3.8.0"
      k8s_version:
        required: false
        type: string
        default: "1.24.0"

jobs:
  helm-lint:
    name: helm lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: ${{fromJson(inputs.charts)}}

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # renovate: tag=v3.0.2

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v${{ inputs.helm_version }}

      - name: Helm Lint
        working-directory: ${{ inputs.charts_dir }}/${{ matrix.dir }}
        run: |
          helm lint --strict . --values values-ci-tests.yaml

  helm-unittest:
    name: helm unittest
    runs-on: ubuntu-latest
    needs: helm-lint
    strategy:
      matrix:
        dir: ${{fromJson(inputs.charts)}}

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # renovate: tag=v3.0.2

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v${{ inputs.helm_version }}

      - name: Helm Unit Test
        working-directory: ${{ inputs.charts_dir }}/${{ matrix.dir }}
        run: |
          helm plugin install https://github.com/vbehar/helm3-unittest
          helm unittest .

  helm-deprecated-check:
    name: helm deprecated api check
    runs-on: ubuntu-latest
    needs: helm-unittest
    strategy:
      matrix:
        dir: ${{fromJson(inputs.charts)}}

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # renovate: tag=v3.0.2

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v${{ inputs.helm_version }}

      - name: Setup Pluto
        uses: FairwindsOps/pluto/github-action@b9fe341136dfc3164f9138910ade351a6a021142 # v5.17.0

      - name: Check for depricated apis
        working-directory: ${{ inputs.charts_dir }}/${{ matrix.dir }}
        run: |
          helm template . --values values-ci-tests.yaml | pluto detect - -o wide --target-versions k8s=v${{ inputs.k8s_version }}

  helm-install:
    name: helm install
    runs-on: ubuntu-latest
    needs: helm-deprecated-check
    strategy:
      matrix:
        dir: ${{fromJson(inputs.charts)}}

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # renovate: tag=v3.0.2

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v${{ inputs.helm_version }}

      - name: Create kind cluster
        uses: helm/kind-action@d08cf6ff1575077dee99962540d77ce91c62387d # renovate: tag=v1.3.0
        with:
          node_image: kindest/node:v${{ inputs.k8s_version }}

      - name: Install helm chart
        working-directory: ${{ inputs.charts_dir }}/${{ matrix.dir }}
        run: helm install --debug --generate-name --dependency-update --wait --timeout 5m0s . --values values-ci-tests.yaml
